body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 15px;
}

.footer1 {
    background-color: #D1D1D6;
    color: #000000;
    padding: 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-info,
.sedes,
.matriz,
.depLt {
    width: calc(25% - 20px); /* Ancho del 25% para cada elemento y teniendo en cuenta el margen de 10px a cada lado */
    margin-right: 20px; /* Espacio entre los elementos */
    margin-bottom: 20px; /* Espacio entre las filas */
}

.contact-info h3,
.sedes h3,
.matriz h3,
.depLt h3 {
    margin-top: 0;
}

.footer-copyright {
    background-color: #AEAEB2;
    color: #000000;
    text-align: center;
    padding: 10px;
}